# Linux/KDE5
.directory

# python
__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv/
venv/
ENV/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

# pyinstaller
build/
dist/
*.manifest
*.spec

# wallabag-cli
.wallabag-cli
.wallabag-cli.bak
